<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="fotter ">
        <div class=" fotter-logo">
            <h1>sAcyAsAchi</h1>
            <p style="color: black;">&copy;<i style="color: black;" >Copyright</i></p>
        </div>
       <div class="">
            <ul class="fotter-list">
                <li>Mongo DB</li>
                <li>Node js</li>
                <li>Express js</li>
                <li>React js</li>
                <li>JavaScript</li>
            </ul>
       </div>
       <div class="">
            <ul class="fotter-list">
                <li>Hmtl</li>
                <li>Css</li>
                <li>Bootstrap</li>
                <li>C / C++</li>
                <li>Paython</li>
            </ul>
       </div>
       <div class="">
            <ul class="fotter-list">
                <li>Linux OS</li>
                <li>Java</li>
                <li>Angular</li>
                <li>Sql / MySql</li>
                <li>Computer</li>
            </ul>
       </div>
    </div>
</body>
</html>