<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="headder ">
        <div class="headder-logo ">
            <a style="text-decoration: none;" href="/"><h1 >sAcyAsAchi</h1></a>
        </div>
        <!-- <a href="">hi a</a> -->
        <div class="headder-buttons-container ">
            <a class="headder-button " href="#about-section">About</a>
            <a class="headder-button " href="#skill-section">Skills</a>
            <a class="headder-button " href="#project-section">Projects</a>
            <a class="headder-button contactBtn " href="#contact-section">Contract</a>
        </div>
        <div class="headder-bar-button">
            <button class="button"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>
</body>
</html>